<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Editar cliente</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <%= form_with(model: [@client, @person], remote: true, :html => { :id => 'form-edit-person' } ) do |form| %>

      <div id="error_explanation" class="alert alert-danger" style="display:none">
        <ul id="error_list"></ul>
      </div>

      <div class="form-group row">
        <label for="person_person_type_id" class="col-sm-3 col-form-label">Tipo persona</label>
        <div class="col-sm-6">
          <select class="form-control" id="person_person_type_id" name="person[person_type_id]" class="form-control">
            <option disabled selected value="">Seleccione tipo de cliente</option>
            <% @person_types.each do |t|  %>
              <% if !@person.nil? && @person.person_type_id == t.id %>
                <option value="<%= t.id %>" selected ><%= t.name %></option>
                <% else %>
                <option value="<%= t.id %>"><%= t.name %></option>
              <% end %>
            <% end %>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :name,'Nombre', class: 'col-sm-3 col-form-label' %>
        <div class="col-9">
          <%= form.text_field :name, class: 'form-control rounded-0' %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :surname,'Apellido', class: 'col-sm-3 col-form-label' %>
        <div class="col-9">
          <%= form.text_field :surname, class: 'form-control rounded-0' %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :dni,'DNI', class: 'col-sm-3 col-form-label' %>
        <div class="col-9">
          <%= form.text_field :dni, class: 'form-control rounded-0' %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :email,'Email', class: 'col-sm-3 col-form-label' %>
        <div class="col-9">
          <%= form.text_field :email, class: 'form-control rounded-0' %>
        </div>
      </div>

      <div class="form-group row">
        <%= form.label :phone,'Telefono', class: 'col-sm-3 col-form-label' %>
        <div class="col-9">
          <%= form.text_field :phone, class: 'form-control rounded-0' %>
        </div>
      </div>

      <div class="actions">
        <%= form.submit 'Agregar', class: 'btn btn-primary' %>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
