<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Datos de la persona</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
        <strong>Cliente:</strong>
        <%= @person.client.name %>
      </p>
      <p>
        <strong>Tipo:</strong>
        <%= @person.type_person %>
      </p>

      <p>
        <strong>Nombre: </strong>
        <%= @person.name %> <%= @person.surname %>
      </p>



      <p>
        <strong>DNI:</strong>
        <%= @person.dni %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @person.email %>
      </p>

      <p>
        <strong>Cel:</strong>
        <%= @person.phone %>
      </p>


      <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
    </div>
  </div>
</div>