<p id="notice"><%= notice %></p>

<p>
  <strong>Type person:</strong>
  <%= @person.type_person %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @person.surname %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @person.dni %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Active:</strong>
  <%= @person.active %>
</p>

<p>
  <strong>Client:</strong>
  <%= @person.client %>
</p>

<%= link_to 'Edit', edit_client_person_path(@person) %> |
<%= link_to 'Back', client_persons_path %>
