<%= form_with(model: @user, remote: true, class: '', id: 'form-user') do |form| %>
  <div id="error_explanation" class="alert alert-danger" style="display:none">
    <ul id="error_list"></ul>
  </div>

  <div class="form-group row">
    <label for="rol_id" class="col-sm-3 col-form-label">Tipo</label>
    <div class="col-sm-6">
      <select class="form-control select-person" id="user_rol_id" name="user[rol_id]" class="form-control">
        <option disabled selected>Seleccione tipo</option>
        <option value="1">Administrador</option>
        <option value="2">Cliente</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :username,'Nombre de usuario', class: 'col-sm-3 col-form-label' %>
    <div class="col-9">
      <%= form.text_field :username, class: 'form-control rounded-0' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :email,'Email', class: 'col-sm-3 col-form-label' %>
    <div class="col-9">
      <%= form.text_field :email, class: 'form-control rounded-0' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :password,'Contraseña', class: 'col-sm-3 col-form-label' %>
    <div class="col-9">
      <%= form.password_field :password, class: 'form-control rounded-0' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :password_confirmation,'Confirmar contraseña', class: 'col-sm-3 col-form-label' %>
    <div class="col-9">
      <%= form.password_field :password_confirmation, class: 'form-control rounded-0' %>
    </div>
  </div>

  <div class="form-group row">
    <label for="client_id" class="col-sm-3 col-form-label">Cliente</label>
    <div class="col-sm-6">
      <select class="form-control select-person" id="user_client_id" name="user[client_id]" class="form-control">
        <option disabled selected>Seleccione cliente</option>
        <% @clients.each do |t|  %>
          <% if t.id == @user.id %>
            <option value="<%= t.id %>"><%= t.name %></option>
          <% else %>
            <option value="<%= t.id %>"><%= t.name %></option>  
          <% end %>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="user_person_id" class="col-sm-3 col-form-label">Cliente</label>
    <div class="col-sm-6">
      <select class="form-control select-person" id="user_person_id" name="user[person_id]" class="form-control">
        <option disabled selected>Seleccione persona</option>
        <!-- ajax -->
      </select>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>