<%= form_with(model: @user, id: 'form-user') do |form| %>
  <div id="error_explanation" class="alert alert-danger" style="display:none">
    <ul id="error_list"></ul>
  </div>

  <div class="form-group row">
    <label for="rol_id" class="col-sm-3 col-form-label">Tipo</label>
    <div class="col-sm-6">
      <select class="form-control select-person" id="user_rol_id" name="user[rol_id]" class="form-control">
        <option disabled selected>Seleccione tipo</option>
        <% if !@user.nil? && @user.rol_id == 1 %>
          <option value="1" selected>Administrador</option>
        <% else %>
          <option value="1">Administrador</option>
        <% end %>
        <% if !@user.nil? && @user.rol_id == 2 %>
          <option value="2" selected>Cliente</option>
        <% else %>
          <option value="2">Cliente</option>
        <% end %>
        
      </select>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :username,'Nombre de usuario', class: 'col-sm-3 col-form-label' %>
    <div class="col-9">
      <%= form.text_field :username, class: 'form-control rounded-0' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :email,'Email', class: 'col-sm-3 col-form-label' %>
    <div class="col-9">
      <%= form.text_field :email, class: 'form-control rounded-0' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :password,'Contraseña', class: 'col-sm-3 col-form-label' %>
    <div class="col-9">
      <%= form.password_field :password, class: 'form-control rounded-0' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :password_confirmation,'Confirmar contraseña', class: 'col-sm-3 col-form-label' %>
    <div class="col-9">
      <%= form.password_field :password_confirmation, class: 'form-control rounded-0' %>
    </div>
  </div>

  <div class="form-group row">
    <label for="client_id" class="col-sm-3 col-form-label">Cliente</label>
    <div class="col-sm-6">
      <select class="form-control select-person" id="user_client_id" name="user[client_id]" class="form-control">
        <option disabled selected>Seleccione cliente</option>
        <% @clients.each do |t|  %>
          <% if !@user.person_id.nil? && t.id == @user.person.client_id %>
            <option value="<%= t.id %>" selected><%= t.name %></option>
          <% else %>
            <option value="<%= t.id %>"><%= t.name %></option>  
          <% end %>
        <% end %>
      </select>
    </div>
  </div>

  <% if !@user.person_id.nil? %>
    <input type="hidden" id="user_person_id_edit" value="<%= @user.person_id %>">
  <% end %>

  <div class="form-group row">
    <label for="user_person_id" class="col-sm-3 col-form-label">Persona</label>
    <div class="col-sm-6">
      <select class="form-control select-person" id="user_person_id" name="user[person_id]" class="form-control">
        <option disabled selected>Seleccione persona</option>
        <!-- ajax -->
      </select>
    </div>
  </div>

  <div class="form-group row text-center">
    <label for="user_avatar" class="col-sm-3 col-form-label">Avatar</label>
    <div class="col-md-12 col-lg-12 col-sm-12 mb-2">
      <div class="form-radio">
        <div class="radio radio-inline col-md-3 col-lg-3 col-sm-2 col-3">
            <div class="row">
              <img class="img-fluid img-radius" alt="Responsive image" src="/assets/avatars/avatar2.png">
            </div>
            <label>
                <input type="radio" id="user_avatar" name="user[avatar]" value="avatar2.png">
                <i class="helper"></i>
            </label>
        </div>
        <div class="radio radio-inline col-md-3 col-lg-3 col-sm-2 col-3">
          <div class="row">
            <img class="img-fluid img-radius" alt="Responsive image" src="/assets/avatars/avatar_female.png">
          </div>
          <label>
              <input type="radio" id="user_avatar" name="user[avatar]" value="avatar_female.png" required>
              <i class="helper"></i>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Agregar', class: 'btn btn-primary' %>
    <button type="button" class="btn btn-danger modal-user">Cerrar</button>
  </div>
<% end %>



