  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> <%= @client.name %> </h5>
      </div>
      <div class="modal-body">

          <p>
            <strong>Cuit:</strong>
            <%= @client.cuit %>
          </p>

          <p>
            <strong>Email:</strong>
            <%= @client.email %>
          </p>

          <p>
            <strong>Condición de IVA:</strong>
            <%= @client.iva_condition.condition %>
          </p>

          <p>
            <strong>Condición de venta:</strong>
            
          </p>

          <p>
            <strong>Dirección:</strong>

           " #{@client.direction} " 
          </p>

          <p>
            <strong>Localidad:</strong>
            <%= @client.location %>
          </p>

          <p>
            <strong>Provincia:</strong>
            <%= @client.province %>
          </p>

          <p>
            <strong>Teléfono:</strong>
            <%= @client.phone %>
          </p>

          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>