<%= form_for @ticket, :html => { id: 'form-ticket-varios'} do |form| %>

  <input type="hidden" id="ticket_ticket_type_id" name="ticket[ticket_type_id]" value="5" >

  <div class="form-group row">
      <label for="ticket_assigned_to" class="col-sm-1 col-form-label">Encargado</label>
      <div class="col-sm-6">
        <select class="form-control select-ticket" id="ticket_assigned_to" name="ticket[assigned_to]">
          <option value="" selected>Sin encargado</option>
            <% @people.each do |p| %>
              <option value="<%= p.id %>"> <%= p.name %> </option>
            <% end %>
        </select>
      </div>
  </div>

  <div class="form-group row">
      <label for="ticket_client_id" class="col-sm-1 col-form-label">Empresa</label>
      <div class="col-sm-6">
        <select class="form-control select-ticket" id="ticket_client_id" name="ticket[client_id]">
          <option disabled="" selected>Seleccione empresa</option>
            <% @clients.each do |c| %>
              <option value="<%= c.id %>"> <%= c.name %> </option>
            <% end %>
        </select>
      </div>
  </div>

  <div class="form-group row">
      <label for="ticket_person_id" class="col-sm-1 col-form-label">Solicito</label>
      <div class="col-sm-6">
        <select class="form-control select-ticket" id="ticket_person_id" name="ticket[person_id]">
          <option value="0" selected>Pidio el servicio</option>
            <!-- ajax -->
        </select>
      </div>
  </div>

<div class="form-group form-check">
  <input type="checkbox" class="form-check-input" id="ticket_report" name="ticket[report]">
  <label class="form-check-label" for="ticket_report">Avisar al cliente</label>
</div>

  <div class="form-group row">
    <%= form.label :title, 'Asunto (*)', class: 'col-sm-1 col-form-label'  %>
    <div class="col-sm-6">
      <%= form.text_field :title, class:'form-control'%>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :detail, 'Motivo ', class: 'col-sm-1 col-form-label'  %><br>
    <div class="col-sm-9">
      <%= form.text_area :detail, class:'form-control form-control-md u-textarea-expandable rounded-0', placeholder: 'Descripción'%>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Agregar', class: 'btn btn-primary' %>
    <%= link_to 'Cancelar', tickets_path, class: 'btn btn-danger' %>
  </div>
<% end %>