<div class="page-header card">
  <div class="row align-items-end">
    <div class="col-lg-8">
      <div class="page-header-title">
        <i class="ti-headphone-alt bg-c-blue"></i>
        <div class="d-inline">
          <h5>Tickets registrados</h5>
        <span>Descripcion de la vista</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="page-header-breadcrumb">
        <ul class=" breadcrumb breadcrumb-title">
          <li class="breadcrumb-item">
            <%= link_to '<i class="ti-home"></i>'.html_safe, root_path %>
          </li>
          <li class="breadcrumb-item">
            <%= link_to 'Tickets', tickets_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="pcoded-inner-content">
  <div class="main-body">
    <div class="page-wrapper">
      <div class="page-body">
        <div class="card">
          <div class="card-header">
            <%= link_to 'Registrar ticket <i class="fa fa-plus"></i>'.html_safe, new_ticket_path, class: 'btn btn-primary' %>
          </div>
          <div class="card-block">
            <ul class="nav nav-tabs md-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#proceso" role="tab">En proceso
                  <label id="label-process" class="badge badge-primary"> </label>
                </a>
                <div class="slide"></div>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#finalizados" role="tab">Finalizados
                  <label id="label-closed" class="badge badge-primary"> </label>
                </a>
                <div class="slide"></div>
              </li>
            </ul>

            <div class="tab-content card-block">
              <div class="tab-pane active" id="proceso" role="tabpanel">
                <%= render('table_tickets', table: @table_process)%>
              </div>
              <div class="tab-pane" id="finalizados" role="tabpanel">
                <%= render('table_tickets', table: @table_closed)%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-ticket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> </div>


<!-- Modal finalizar ticket -->
  <div class="modal fade" id="modal_close_ticket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          Esta seguro de finalizar el ticket?
        </div>
        <div class="modal-body">
          <%= form_with(url: close_ticket_path, :html => {:id => 'form-close-ticket'} ) do |form| %>
            <input type="hidden" name="id" id="id" value="">
            <div class="form-group row m-r-5 m-l-5">
              <label class="col-form-label w-100"> Actividad realizada: </label>
              <textarea id="detail" name="detail" class="form-control"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn_cerrar" data-dismiss="modal">Cancelar</button>
          <%= form.submit 'finalizar', class: 'btn_destroy_ticket btn btn-primary' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>



<!-- Modal asignar ticket -->
  <div class="modal fade" id="modal_assigned_ticket" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          Seleccione a quien desea asignar el ticket
        </div>
        <div class="modal-body">
              <label for="ticket_assigned_to" class="col-sm-1 col-form-label">Persona</label>
          <div class="row">
              <div class="col-sm-6">
                <select class="form-control select-ticket" id="ticket_assigned_to" name="ticket[assigned_to]">
                  <option disabled="" selected>Seleccione persona</option>
                    <% @people.each do |p| %>
                      <option value="<%= p.id %>"> <%= p.name %> <%= p.surname %> </option>
                    <% end %>
                </select>
              </div>
          </div>
        </div>
        <input type="hidden" id="assigned_ticket_id" name="assigned_ticket_id" value=""/>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn_cerrar" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="asignar_ticket" > Asignar </button>
        </div>
      </div>
    </div>
  </div>