<div class="page-header card">
  <div class="row align-items-end">
    <div class="col-lg-8">
      <div class="page-header-title">
        <i class="ti-headphone-alt bg-c-blue"></i>
        <div class="d-inline">
          <h5>Tickets registrados</h5>
        <span>Descripcion de la vista</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="page-header-breadcrumb">
        <ul class=" breadcrumb breadcrumb-title">
          <li class="breadcrumb-item">
            <%= link_to '<i class="ti-home"></i>'.html_safe, root_path %>
          </li>
          <li class="breadcrumb-item">
            <%= link_to 'Tickets', tickets_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="pcoded-inner-content">
  <div class="main-body">
    <div class="page-wrapper">
      <div class="page-body">
        <div class="card">
          <div class="card-header">
            <%= link_to 'Registrar ticket <i class="fa fa-plus"></i>'.html_safe, new_ticket_path, class: 'btn btn-primary' %>
          </div>
          <div class="card-block">
            <ul class="nav nav-tabs md-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#sin_asignar" role="tab">Sin asignar</a>
                <div class="slide"></div>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#proceso" role="tab">En proceso</a>
                <div class="slide"></div>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#finalizados" role="tab">Finalizados</a>
                <div class="slide"></div>
              </li>
            </ul>

            <div class="tab-content card-block">
              <div class="tab-pane active" id="sin_asignar" role="tabpanel">
                <%= render('table_tickets', table: @table_process)%>
              </div>
              <div class="tab-pane" id="proceso" role="tabpanel">
                <%= render('table_tickets', table: @table_process)%>
              </div>
              <div class="tab-pane" id="finalizados" role="tabpanel">
                <%= render('table_tickets', table: @table_closed)%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-ticket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> </div>



<!-- Modal -->
<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input id="ticket_id" type="text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal finalizar ticket -->
  <div class="modal fade" id="modal_close_ticket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Confirmaci&oacute;n</h4>
        </div>
        <div class="modal-body">
          Esta seguro de finalizar el ticket?
        </div>
        <input type="hidden" id="close_ticket_id" name="close_ticket_id" value=""/>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn_cerrar" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn_destroy_ticket btn btn-primary"> finalizar</button>
          <!-- <a id="finalizarTickets" type="button" class="btn btn-primary">Finalizar</a> -->
        </div>
      </div>
    </div>
  </div>