<div class="page-header card">
  <div class="row align-items-end">
    <div class="col-lg-8">
      <div class="page-header-title">
        <i class="ti-headphone-alt bg-c-blue"></i>
        <div class="d-inline">
          <h5>Registro de ticket</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="page-header-breadcrumb">
        <ul class=" breadcrumb breadcrumb-title">
          <li class="breadcrumb-item">
            <%= link_to '<i class="ti-home"></i>'.html_safe, root_path %>
          </li>
          <li class="breadcrumb-item">
            <%= link_to 'Tickets', tickets_path %>
          </li>
          <li class="breadcrumb-item">
            <a href="" >Nuevo ticket</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="pcoded-inner-content">
  <div class="main-body">
    <div class="page-wrapper">
      <div class="page-body">
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-block">
            <%= form_for @ticket, :html => { id: 'form-ticket-varios-client'} do |form| %>
              
              <input type="hidden"  id="ticket_assigned_to" name="ticket[assigned_to]" value="">

              <div class="form-group row">
                <%= form.label :title, 'Asunto (*)', class: 'col-sm-2 col-form-label', required: true %>
                <div class="col-sm-6">
                  <%= form.text_field :title, class:'form-control'%>
                </div>
              </div>

              <div class="form-group row">
                <%= form.label :detail, 'Motivo ', class: 'col-sm-2 col-form-label'  %><br>
                <div class="col-sm-9">
                  <%= form.text_area :detail, class:'form-control form-control-md u-textarea-expandable rounded-0', placeholder: 'Descripción'%>
                </div>
              </div>

              <div class="actions">
                <%= form.submit 'Agregar', class: 'btn btn-primary' %>
                <%= link_to 'Cancelar', tickets_path, class: 'btn btn-danger' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
  form_new_ticket_varios_client = $('#form-ticket-varios-client')
</script>
