<div class="loader-bg">
	<div class="loader-bar"></div>
</div>

<div id="pcoded" class="pcoded">
	<div class="pcoded-overlay-box"></div>
	<div class="pcoded-container navbar-wrapper">

		<nav class="navbar header-navbar pcoded-header">
			<div class="navbar-wrapper">
				<div class="navbar-logo">
					<%= link_to root_path do %>
						<img class="img-fluid" src="/assets/logoMS.png" alt="logo" />
					<% end %>
					<a class="mobile-menu" id="mobile-collapse" href="#!">
						<i class="ti-menu"></i>
					</a>
					<a class="mobile-options waves-effect waves-light">
						<i class="ti-more"></i>
					</a>
				</div>
				<div class="navbar-container container-fluid">
					<ul class="nav-right">

						<li class="user-profile header-notification">
							<div class="dropdown-primary dropdown">
								<div class="dropdown-toggle" data-toggle="dropdown">
									<img src="/assets/avatars/<%= current_user.avatar %>" class="img-radius" alt="User-Profile-Image">
									<span><%= current_user.person.name %></span>
									<i class="ti-angle-down"></i>
								</div>
								<ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
									<li>
										<%= link_to '<i class="ti-shift-right"></i> Salir'.html_safe, logout_path %>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="pcoded-main-container">
			<div class="pcoded-wrapper">
				<nav class="pcoded-navbar">
					<div class="pcoded-inner-navbar">
						<ul class="pcoded-item">
							<li class="">
								<%= link_to '<i class="ti-headphone-alt"></i> Tickets'.html_safe, tickets_path, class: 'pcoded-mtext' %>
							</li>
							<% if current_user.rol.name == 'Administrador' %>
							<li>
								<%= link_to '<i class="ti-user"></i> Clientes'.html_safe, clients_path, class: 'pcoded-mtext' %>
							</li>
							<li>
								<%= link_to '<i class="ti-lock"></i>Usuarios'.html_safe, users_path, class: 'pcoded-mtext' %>
							</li>
							<li>
								<%= link_to '<i class="ti-layout-cta-btn-right"></i>Reportes'.html_safe, reports_path, class: 'pcoded-mtext' %>
							</li>
							<% end %>
						</ul>  <!-- end menu -->
					</div>
				</nav>