<!DOCTYPE html>
<html>
  <head>
    <title> <%= @title %> | Sistema MS </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'layouts/header'%>
                <div class="pcoded-content">
                  <%= yield %>
                </div>
              </div> <!-- pcoded-content -->
            </div> <!-- pcoded-wrapper -->
          </div> <!-- pcoded-main-container -->
        </div> <!-- pcoded-container navbar-wrapper -->
      </div> <!-- pcoded -->
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>


